#   SPDX-License-Identifier: Unlicense
#   Project: Nyra
#   File: .gitignore
#   Authors: Invra
#   Notes: Git ignore file

# Rust
debug
target
**/*.rs.bk

# Editor related
.vs/
.idea/
.vscode/
*.session
.windsurf/
*.sublime-workspace
!.vscode/{extensions,tasks}.json

# Git related
*.patch

# Other
*.log
*.tmp
*.temp
.DS_Store
[Dd]esktop.ini
